.mainNav ul.menu li:hover a, .mainNav ul.menu li a.active, .k-window-action .k-icon{
    background: #41556e!important;
}
.topNav ul li.setting ul li a:hover, .user ul li a:hover, .saleNav ul li a:hover, .mainNav ul.sub li:hover a, #toTop, .dashboard-right .dashboard-Invoices span.dash_icon, .mainNav ul.sub li:hover a,
.proTabs .addButton:hover{
   background: #586f8a!important;
}
.wp-tpsx .kvTabs > ul li a{ background: #586f8a; color: #fff;}
.mainNav, .leftTitle,.header ,.tabBg, .kv2Box .add, .kv2Pro .swiperList ul li .proPrice, .k-window-titlebar, .user .userName:hover, .user .userName.active, .user:hover .userName,
 .kv2Pro .kv2ProIcon a:hover, .k-pager-numbers .k-state-selected, .k-pager-wrap .k-link:hover, .kvTabs > ul li a.active.other, .k-window-poup-tabs .kvTabs > ul li a.active, .tabs-snkh .kvTabs .active, .window-error .k-window-titlebar .k-link, 
 .box-list-return .searchCustomer, .box-return .header-return{
    background: #231416!important;
}
.box-list-return .header{border-bottom-color: transparent;}
.mainNav ul.menu li.active a, .kv2Box .add:hover, .topNav ul li.setting ul,.topNav ul li.setting a:hover, .topNav ul li.setting:hover > a,
.user ul, .proTabs ul li a, .saleNav ul, .saleNavIcon:hover, .saleNavIcon.active, .proTabs .rightArrow,.proTabs .leftArrow, .proTabs .addButton
 {
    background: #41556e;
}
.mainNav ul.menu li.shortcut a{
    background: #455d40;
}
.mainNav ul.menu li.shortcut a:before{
    background: #377528;
}
.proTabs .leftArrow:hover, .proTabs .rightArrow:hover, .mainNav ul.menu li.shortcut a:hover{
    background: #1d3c17;
}
.mainNav ul.menu > li, .saleNav {
    background: url(../img/mainNav-line-color.png) repeat-y top left;
}
.searchCustomer{
    background: url(../img/mainNav-line-color.png) repeat-y right center;
}
.kv2Btn, .k-button, .columnView > li.k-item > .k-link, .addProductBtn ul{
    background: #455d40 
}
.mainNav ul.menu li .fa, .headerContent .kv2Btn .fa, .boxLeft .showhideicon .fa, .mainNav ul.menu li.shortcut a .fa{
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.prettycheckbox a:before, .prettyradio a:before, .prettycheckbox a:after, .prettyradio a:after{color: #4ea73b;}
 .k-plus:before, .k-minus:before{color: #231416;}
.k-grid-header .k-header, .tbl table th, .thHeader,  div.k-grid-header{background: #def2d9 url(../img/thBg-color.png) no-repeat right top}
.k-grid-header .k-header:first-child{background: #def2d9}
.k-grid-header-wrap{
    border-color: #d0eaca;
    background: #def2d9;
}
.kv2Btn:hover, .kv2Btn.active, .kv2Btn:focus, .k-button:hover, .k-button:focus, .k-button:active, .addProductBtn ul li a:hover, .columnView > li.k-item > .k-link:hover{
    background: #1d3c17; /* color overlay */
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.42); /* inner shadow */
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.42); /* inner shadow */
    box-shadow: inset 0 0 3px rgba(0,0,0,.42); /* inner shadow */
}
.kv2BtnDel {
    background: #ed5c6a;
}
.kv2BtnYellow, .selectedP ul{background: #455d40}
.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected, .k-button:focus:active:not(.k-state-disabled):not([disabled]), .k-state-focused.k-state-selected.k-state-hover, .k-list > .k-state-focused.k-state-selected.k-state-hover, .k-listview > .k-state-focused.k-state-selected.k-state-hover, td.k-state-focused.k-state-selected.k-state-hover{
    background: #0d76ba;
}
.kv2BtnDel:hover, .kv2BtnDel.active, .kv2BtnDel:focus {
    background: #cc4f5b;
    box-shadow: inset 0 0 3px 1px #bb414d;
}
.kvTabs > ul, .user .userName:hover, .user .userName.active, .user:hover .userName{
    border-color: #41556e;
}
.k-window-poup .k-window-titlebar, .k-window-custom .k-window-titlebar{
    border-color: #41556e;
 }
.catgMore {
    background: url(../img/catgMoreAc-cl1.png) no-repeat top center;
}
.catgMore.active {
    background-image: url(../img/catgMore-cl1.png);
}
.kv2Pro{
    border: 1px solid #50c7f2;
}
.proTabs ul li a.active, .lbl-cl h3.title-top,.k-window-poup .addMore i, .boxForm h3, .control-poup i.fa-plus-square, .control-poup i.fa-minus-square, .k-window-poup .prettycheckbox label, .txtBlue
, .dashboardTitle .k-dropdown .k-input, a, .chooseIcon {
    color: #231416;
}
.kv-pie{border: 3px solid #496481;}
.kv-percents, .kv-50 .kv-progress .kv-progress-fill{border-color: #496481;}
.kv2BtnYellow:hover, .kv2BtnYellow.active, .kv2BtnYellow:focus {
    background: #509d02;
    box-shadow: inset 0 0 3px 1px #509d02;
}
.k-icon, .k-state-disabled .k-icon, .k-column-menu .k-sprite {
    opacity: 1;
}
/*.k-menu .k-animation-container .k-group{
     background: #4fa83b;
}*/
.k-animation-container .k-menu-group .k-state-hover .k-link{
    background: #489834!important;
}
/*.k-menu.columnView .k-animation-container .k-item > .k-link{
    border-color: #489834;
}*/
.kv2Btnbrightblue .fa{
    text-shadow: 0px 0px;
}
.kv2Right{
    background: #ecf7fb;
}
.kv2BtnYellow {
    background: #c6a06e;
}
.kv2BtnYellow:hover, .kv2BtnYellow.active, .kv2BtnYellow:focus {
    background: #b88f59;
    box-shadow: inset 0 0 3px 1px #ad8147;
}
.k-window-poup-tabs1 .kvTabs > ul li a.active{background: #FFF!important;}
/****************************
        BARCAFFE
****************************/
.wp-coffee, .wp-coffee .headNav li a.active, .wp-coffee .proTabs .rightArrow:hover, .wp-coffee .proTabs .leftArrow:hover, .wp-coffee .kv2ProList .proTabs{background: #314659}
.wp-coffee .kv2Right{background: transparent}
.wp-coffee .header, .wp-coffee .proTabs .addButton, .wp-coffee .proTabs ul li a, .wp-coffee .swipeBtn:hover{background: #5b799b}
.wp-coffee .fa {background-image: url(../img/saleOff-pink.png);}
.wp-coffee .proTabs ul li a.active{background: #FFF;}
.wp-coffee .kv2Pro .swiperList ul li .proPrice{background: transparent!important;}
.wp-coffee .headNav li + li{background: none;}


*::-webkit-scrollbar-thumb
{
	background-color: #41556e;
}

/*****/
.txt-cd{
    display: none;
}    
.mainLeft .leftTitle {
    margin-left: 0px;
    margin-right: -10px;
}
.mainHeader {
    background: #7b7777;     
}
/*span.k-numerictextbox, span.k-combobox, */
.mainHeader
span.k-dropdown {
    background: #8c7c7c;
}
.k-popup.k-list-container, .k-popup.k-calendar-container {     
    background: #9e7171;
}
.mainWrap {
    background: #675d5d;
}
body{
    overflow-x: hidden;
}
@media (min-width: 992px){
    .mainLeft {     
        float: right;     
    }
    .mainRight {     
        margin-left: 0px;          
        margin-right: 230px;
    }
}
@media (min-width: 768px){
    .mainNav{
        width: 210px!important;
        position: absolute;
        z-index: 2;
        height: 960px;
    }
    .mainNav>.container{
        width: 210px!important;   
        padding-left: 0px;      
    }
    .mainNav .menu, .mainNav .menu li a{
        width: 210px!important;         
    }
    .mainNav .menu li{
        float: none;         
        width: 210px;
    }
    .mainNav .menu li ul{
        display: block!important;
    }
    .mainNav ul.sub{
        position: relative;
        left: 0px;
        background-color: #485f67;
    }
    
    .mobileMenu {
        display: inline-block;
        text-indent: -9999px;
        margin-left: 0;
        margin-right: 12px;
        margin-top: 7px;
        float: left;
        outline: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: none;
        z-index: 10;
    }
    .mobileMenu span, .mobileMenu span:before, .mobileMenu span:after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: #f1f1f1;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }
    .mobileMenu span:before {
        position: relative;
        top: -7px;
    }
    .mobileMenu span:after {
        position: relative;
        bottom: -5px;
    }
    .mobileMenu span{
        margin-top: 15px;
        margin-left: 5px;
    }
    
    .bodyNavShow .mobileMenu span:before {
        -webkit-transform: rotate(315deg) translate(-4px,0);
        transform: rotate(315deg) translate(-4px,0);
        width: 13px;
    }
    .bodyNavShow .mobileMenu span:after {
        -webkit-transform: rotate(-315deg) translate(-4px,0);
        transform: rotate(-315deg) translate(-4px,0);
        width: 13px;
    }
    body:not(.bodyNavShow) .mainRight, body:not(.bodyNavShow) .dashboardLeft {
        margin-left: auto;
    }
    .mainWrapShow .overlay {         
        left: 0px;         
        background: rgba(107, 89, 89, 0.5);         
    }
}
@media (min-width: 768px){
    .mainRight, .dashboardLeft {
        margin-left: calc(210px - 100vw/2 + 380px);         
    }    
}
@media (min-width: 1024px){
    .mainRight, .dashboardLeft {
        margin-left: calc(210px - 100vw/2 + 500px);         
    }    
}
@media (min-width: 1200px){
    .mainRight, .dashboardLeft {
        margin-left: calc(210px - 100vw/2 + 600px);         
    }    
}
@media (min-width: 1280px){
    .mainRight, .dashboardLeft {
        margin-left: calc(210px - 100vw/2 + 630px);         
    }    
}

.sortTimeList, .sortDateTimeOtherBox {
    right: 208px;
    left: auto;
}
.sortTimeList:after, .sortDateTimeOtherBox:after {
    right: -8px;
    left: auto;
}